
/* Variables de base pour la palette de couleurs */
:root {
  --sidebar-width: 70px;
  --primary-color: #2f4f4f;
  --accent-color: #8fbc8f;
  --background-color: #f9f9f9;
  --link-color: #ffffff;
  --link-hover-color: #ffd700;
}

/* Style global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: 1.6;
  display: flex;
  background-image: url('./photoferme/taureau.JPG'); /* Remplace 'ton-image.jpg' par le chemin de ta photo */
  background-size: cover; /* Fait en sorte que l'image couvre tout l'écran */
  background-position: center; /* Centre l'image */
  background-attachment: fixed; /* Rend l'image fixe pendant le scroll */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  
}
html, body {
  overflow-x: hidden;
}

/* ----- BARRE LATERALE GAUCHE ----- */
.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  /* background-color: var(--accent-color);  */
  background-color: rgba(32, 150, 32, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  z-index: 1000;
  padding: 0;
  border: 1px solid;
}

.sidebar-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

/* Titre centré verticalement (colonne gauche) */
.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-shadow: 2px 2px 5px;
  font-size: 1.2rem;
  color: darkmagenta;
  font-style: italic;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  text-decoration: underline;
}

/* Liens répartis verticalement (colonne droite) */
.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 5px;
}

.sidebar-links a {
  color: darkmagenta;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.3s;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 3px;
}

.sidebar-links a:hover {
  color: var(--link-hover-color);
}

/* ----- CONTENU PRINCIPAL ----- */
.content-area {
  margin-left: var(--sidebar-width);
  padding: 20px;
  flex: 1;
}

.content {
  margin-bottom: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.418);
}

.content h2 {
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px 5px;
  color: black;
}

.content p {
  text-align: center;
  color: black;
}

/* ----------text  uranium---------  */
.texturanium {
  position: absolute; /* ou relative selon ton besoin */
  top: 200px; /* ajuste selon la hauteur souhaitée */
  right: 100px;
  width: 450px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text-boxuranium {
  background-color: #f9f9f9;
  border: 2px solid brown;
  border-radius: 8px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 80%;
  height: 150px;
  max-width: 900px;
  font-size: 0.7rem;
  font-style: italic;
  color: #333;
}
.text-boxuranium h2 {
  text-decoration: underline;
}


/* ----------text  rougedespres---------  */
.textrougedespres {
  position: absolute; /* ou relative selon ton besoin */
  top: 530px; /* ajuste selon la hauteur souhaitée */
  right: 20px;
  width: 850px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text-rougedespres {
  background-color: #f9f9f9;
  border: 2px solid brown;
  border-radius: 8px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 80%;
  height: 250px;
  max-width: 900px;
  font-size: 0.7rem;
  font-style: italic;
  color: #333;
  overflow: auto;
}
.text-rougedespres h2 {
  text-decoration: underline;
}

/* ----------text  poulet---------  */
.textpoulet {
  position: absolute; /* ou relative selon ton besoin */
  top: 1230px; /* ajuste selon la hauteur souhaitée */
  left: 100px;
  width: 850px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text-poulet {
  background-color: #f9f9f9;
  border: 2px solid brown;
  border-radius: 8px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 80%;
  height: 250px;
  max-width: 900px;
  font-size: 0.7rem;
  font-style: italic;
  color: #333;
  overflow: auto;
}
.text-poulet h2 {
  text-decoration: underline;
}

/* ----------text  poulet---------  */
.textpoulet {
  position: absolute; /* ou relative selon ton besoin */
  top: 1330px; /* ajuste selon la hauteur souhaitée */
  left: 100px;
  width: 850px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text-poulet {
  background-color: #f9f9f9;
  border: 2px solid brown;
  border-radius: 8px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 80%;
  height: 250px;
  max-width: 900px;
  font-size: 0.7rem;
  font-style: italic;
  color: #333;
  overflow: auto;
}
.text-poulet h2 {
  text-decoration: underline;
}


/* ----------text  nature---------  */
.textnature {
  position: absolute; /* ou relative selon ton besoin */
  top: 2200px; /* ajuste selon la hauteur souhaitée */
  right: 200px;
  width: 850px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text-nature {
  background-color: #f9f9f9;
  border: 2px solid brown;
  border-radius: 8px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 80%;
  height: 250px;
  max-width: 900px;
  font-size: 0.7rem;
  font-style: italic;
  color: #333;
  overflow: auto;
}
.text-nature h2 {
  text-decoration: underline;
}


/* ----- GALLERY 01----- */
.gallery01 {
  position: absolute;
  top: 250px;
  left: 150px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  width: 30%; /* Ajouté pour définir la largeur de la galerie */
  height: auto;
  max-height: 200px;
}

/* Container de l'image */
.image-container01 {
  display: inline-block;
  position: relative;
  width: 100%; /* Ajouté pour que la largeur soit relative à .gallery1 */
  transition: transform 0.5s ease;
}
.image-container01:hover {
  transform: scale(1.2);
}

.image01:hover {
  filter: brightness(1.2);
}

/* Image dans la galerie */
.image01 {
  width: 100%; /* L'image prend toute la largeur du container */
  height: auto;
  border-radius: 50px;
  border: 2px solid black;
  max-height: 350px;
}

/* Description sous l'image */
.image-description01 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  width: 100%; /* S'adapte à la largeur du parent (l'image-container) */
}

.image-description01 p {
  margin: 0;
  font-size: 0.7rem;
  color: black;
}



/* ----- GALLERY 1----- */
.gallery1 {
  position: absolute;
  top: 800px;
  left: 400px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  width: 30%; /* Ajouté pour définir la largeur de la galerie */
  height: auto;
}

/* Container de l'image */
.image-container1 {
  display: inline-block;
  position: relative;
  width: 100%; /* Ajouté pour que la largeur soit relative à .gallery1 */
  transition: transform 0.5s ease;
}

.image-container1:hover {
  transform: rotate(-5deg) scale(1.1) ; /* Rotation légère au survol */
}

.image1:hover {
  filter: brightness(1.2);
}


/* Image dans la galerie */
.image1 {
  width: 100%; /* L'image prend toute la largeur du container */
  height: auto;
  border-radius: 4px;
  border: 2px solid black;
}

/* Description sous l'image */
.image-description1 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  width: 100%; /* S'adapte à la largeur du parent (l'image-container) */
}

.image-description1 p {
  margin: 0;
  font-size: 0.7rem;
  color: black;
}


/* ----- GALLERY 2----- */
.gallery2 {
  position: absolute;
  margin-bottom: 40px;
  top: 1050px;
  right: 20px;
  text-align: center;
}

/* Container de l'image */
.image-container2 {
  display: inline-block;
  position: relative;
  width: 300px; /* Taille de l'image, modifiable */
  transition: transform 0.3s ease;
}

.image-container2:hover {
  transform: rotate(-5deg) scale(1.1); /* Rotation légère au survol */ 
}
.image2:hover {
  filter: brightness(1.2);
}

/* Image dans la galerie */
.image2 {
  width: 100%; /* L'image prend toute la largeur du container */
  height: auto;
  border-radius: 4px;
  border: 2px solid black;
}

/* Description sous l'image */
.image-description2 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  width: 100%;
  width: 100%; /* S'adapte à la largeur du parent (l'image-container) */
  
}

.image-description2 p {
  margin: 0;
  font-size: 0.7rem;
  /* color: var(--primary-color);  */
  color: black;
}


/* ----- GALLERY 3 ----- */
.gallery3 {
  position: absolute;
  top: 1950px;
  left: 400px;
  width: 40%;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
}

/* Container de l'image */
.image-container3 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-container3:hover {
  transform: rotate(3deg) scale(1.2); /* Rotation légère au survol */
}
.image3:hover {
  filter: brightness(1.2);
}

/* Image */
.image3 {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Pour forcer à remplir sans déformer trop */
  border-radius: 4px;
  border: 2px solid black;
}

/* Texte en dessous */
.image-description3 {
  width: 100%;
  height: 20px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px;
  font-size: 0.7rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-description3 p {
  margin: 0;
  font-size: 0.7rem;
  /* color: var(--primary-color);  */
  color: black;
}

/* ----- GALLERY 3bis ----- */
.gallery3bis {
  position: absolute;
  top: 1650px;
  right: 100px;
  width: 30%;
  height: 250px;
  text-align: center;
  box-sizing: border-box;
}

/* Container de l'image */
.image-container3bis {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-container3bis:hover {
  transform: rotate(3deg) scale(1.2); /* Rotation légère au survol */
}
.image3bis:hover {
  filter: brightness(1.2);
}

/* Image */
.image3bis {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Pour forcer à remplir sans déformer trop */
  border-radius: 4px;
  border: 2px solid black;
}

/* Texte en dessous */
.image-description3bis {
  width: 100%;
  height: 20px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px;
  font-size: 0.7rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-description3bis p {
  margin: 0;
  font-size: 0.7rem;
  /* color: var(--primary-color);  */
  color: black;
}


/* ----photo scarabée plus bulles------- */
.scarabee-chat-section {
  position: absolute;
  top: 3100px;
  left: 40%;
  width: calc(100vw - 90px); 
  display: flex;
  justify-content: center;
}

.scarabee-container {
  position: relative;
  width: 150px;
  text-align: center;
}

.scarabee-img {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* Base de la bulle */
.speech-bubble {
  position: absolute;
  max-width: 180px;
  padding: 10px 15px;
  background: #fdfdfd;
  border-radius: 15px;
  border: 2px solid #888;
  font-size: 0.9rem;
  color: #333;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  z-index: 2;
}

/* Queue de la bulle */
.bubble-tail {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

/* Queue qui pointe vers la droite */
.bubble-tail.right {
  top: 0%;
  right: 80px;
  transform: translateY(-50%);
  border-left-color: #fdfdfd;
  border-right: none;
}

/* Queue qui pointe vers la gauche */
.bubble-tail.left {
  top: 100%;
  right: 5px;
  border-width: 40px 50px 60px 0; /* plus de largeur côté gauche */
  transform: translateY(-50%);
  border-right-color: #fdfdfd;
  border-left: none;
}

/* Position des bulles */
.top-left {
  top: -50px;
  left: -210px;
}

.bottom-right {
  bottom: -10px;
  right: -30px;
}




/* ----- GALLERY 5 ----- */
.gallery5 {
  position: absolute;
  top: 3400px;
  left: 70px;
  width:100%;
  height: 60px;
  text-align: center;
  box-sizing: border-box;  
}
/* Container de l'image */
.image-container5 {
  width: 100%;
  height: 100%;
  background-color: white;
}
/* Image */
.image5 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour forcer à remplir sans déformer trop */
  border-radius: 4px;
  border: 1px solid;
}



/* ----- Logo à rouge des prés ----- */
.logo-container1 {
  position: absolute;
  top: 80px;
  right: 65px;
  transform: rotate(20deg);
}

.logo1 {
  width: 50px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
}
/* ----- Logo à loué ----- */
.logo-container2 {
  position: absolute;
  top: 80px;
  left: 140px;
  transform: rotate(-20deg);
}

.logo2 {
  width: 50px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
}
/* --------logo papillons--------  */
.logo-container3 {
  position: absolute;
  top: 3400px;
  left: 80%;
}

.logo3 {
  width: 85px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
  filter: brightness(1.2);
}
/* --------logo abeilles--------  */
.logo-container4 {
  position: absolute;
  top: 3403px;
  left: 45%;
}

.logo4 {
  width: 85px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
}
/* --------logo fauchage--------  */
.logo-container5 {
  position: absolute;
  top: 3407px;
  left: 60%;
}

.logo5 {
  width: 80px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
  filter: brightness(1.2);
}
/* --------logo environnement--------  */
.logo-container6 {
  position: absolute;
  top: 3402px;
  left: 30%;
}

.logo6 {
  width: 70px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
  filter: brightness(1.2);
}
/* --------logo eau et riviere-------  */
.logo-container7 {
  position: absolute;
  top: 3402px;
  left: 15%;
}

.logo7 {
  width: 65px; /* Taille du logo, ajustable */
  height: auto;
  border-radius: 5px;
  filter: brightness(1.2);
}

/* --- Cube 3D --- */
.cube-window {
  position: absolute;
  top: 25px;  
  right: 5%;
  transform: scale(0.6);
}

.cube-link {
  display: block;
}

.cube {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear;
}

.face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  transform: translateZ(25px);
}
.back {
  transform: rotateY(180deg) translateZ(25px);
}
.left {
  transform: rotateY(-90deg) translateZ(25px);
}
.right {
  transform: rotateY(90deg) translateZ(25px);
}
.top {
  transform: rotateX(90deg) translateZ(25px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

  
@media screen and (max-width: 1380px) {
  .textrougedespres {
    width: 600px;
  }
  .textnature {
    right: 10px;
  }
}

@media screen and (max-width: 970px) {
 .texturanium {
  width: 250px;
 }
}

@media screen and (max-width: 890px) {
  .textnature {
    width: 550px;
  }
  .textpoulet {
    width: 550px;
  }
 }


/* ----- RESPONSIVE ----- */
/* @media screen and (max-width: 800px), screen and (max-height: 500px)  */
@media screen and (max-width: 800px) {
  :root {
      --sidebar-width: 70px;
  }

  .sidebar-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .content-area {
      padding: 10px;
  }
  
  /* ---------responsive scarabée----------  */
  .scarabee-container {
    width: 100px;
  }
  .speech-bubble {
    max-width: 100px;
    padding: 10px 15px;
    font-size: 0.7rem;
  }
  .top-left {
    top: -50px;
    left: -110px;
  }
  
  .bottom-right {
    bottom: -20px;
    right: -30px;
  }
  /* Queue qui pointe vers la droite */
.bubble-tail.right {
  top: 0%;
  right: 80px;
  transform: translateY(-50%);
}

/* Queue qui pointe vers la gauche */
.bubble-tail.left {
  top: 120%;
  right: 2px;
  border-width: 40px 50px 60px 0;
}
  

.logo1 {
  width: 40px; 
}
.logo2 {
  width: 40px;
}
.logo3 {
  width: 70px;
}
.logo4 {
  width: 70px;
}
.logo5 {
  width: 70px;
}

.logo-container3 {
  left: 90%;
}
.logo-container4 {
  left: 75%;
}
.logo-container5 {
  left: 60%;
}
.logo-container6 {
  left: 45%;
}
.logo-container7 {
  left: 30%;
}



  .sidebar-title {
      font-size: 1rem;
  }

  .sidebar-links a {
      font-size: 0.8rem;
      letter-spacing: 0;
  }
}

@media screen and (max-width: 720px) {
  .gallery01 {
    top: 400px;
    min-width: 40%;
  }
  .textrougedespres {
    top: 670px;
  }
  .gallery1 {
    top: 920px;
  }
  .gallery2 {
    top: 1130px;
  }
  .textpoulet {
    top: 1400px;
  }
  .gallery3bis {
    top: 1700px;
  }
  .gallery3 {
    top: 2000px;
  }
}

@media screen and (max-width: 660px) {
  .textrougedespres {
    right: 1px;
    width: 80%;
  }
  .gallery1 {
    left: 90px;
  }
  .gallery3 {
    left: 90px;
  }
  .gallery2 {
    right: 80px;
  }
}

@media screen and (max-width: 610px) {
  .image-description01 p {
    font-size: 0.6rem;
  }
  .image-description1 p {
    font-size: 0.6rem;
  }
  .image-description2 p {
    font-size: 0.6rem;
  }
  .image-description3 p {
    font-size: 0.6rem;
  }
  .image-description3bis p {
    font-size: 0.6rem;
  }
  .textpoulet {
    left: 60px;
  }
  .textnature {
    left: 60px;
  }
}

@media screen and (max-width: 585px) {
  .textpoulet {
    width: 450px;
    left: 75px;
  }
  .textnature {
    width: 450px;
    left: 75px;
  }
}

@media screen and (max-width: 504px) {
  .textpoulet {
    width: 350px;
    left: 75px;
  }
  .textnature {
    width: 350px;
    left: 75px;
  }
  .image-description3 {
    height: 30px;
  }
  .image-description3bis {
    height: 30px;
  }
}

@media screen and (max-width: 470px) {
  .gallery2 {
    right: 35px;
  }
  .texturanium {
    left: 80px;
  }
}

@media screen and (max-width: 423px) {
  .gallery2 {
    right: 15px;
  }
  .textpoulet {
    left: 65px;
  }
  .textnature {
    left: 65px;
  }
}



